@import "../../theme.css";

.card {
  min-width: 300px;
  width: fit-content;
  padding: calc(var(--spacing) * 2.5);
  border-radius: calc(var(--spacing) * 1.5);
  border: 2px solid var(--gray300);
}

.card-title {
  font-size: calc(var(--font-size) * 2);
  margin-bottom: calc(var(--spacing) * 5);
}

.card-inputs {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 1.5);
}
